/* Normalizace */
* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
}

/* Základni vzhled */
body {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/

    margin: 0;
    background-color: green;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: wheat;
    text-transform: uppercase;
    font-size: 1.7em;
    text-shadow: 1px 1px 4px black;
}

/* Zarovnani klaves vodorovne + odstraneni mezer mezi klavesami */
.piano-moll,
.piano-dur {
    display: flex;
}

/* Zarovnani textu */
.piano-key {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2em;

    border-right: 1px solid gray;
}
.piano-key:hover {
    cursor: pointer;
}

/* Vzhled klaves */
.piano-dur .piano-key {
    width: 3em;
    height: 15em;

    background: white;
}

.piano-moll {
    position: absolute;
}
.piano-moll .piano-key {
    color: white;
    width: 2.5em;
    height: 10em;
    margin-left: .5em;

    background: black;
}
.piano-moll .piano-key:nth-child(1) {
    margin-left: 1.75em;
}
.piano-moll .piano-key:nth-child(3) {
    margin-left: 3.5em;
}
