body {
    font-family: Georgia;
    text-align: center;
}

.banner {
    width: 1200px;
    height: 340px;
    object-fit: cover;
    object-position: 0px -90px;
}

.title {
    color: #f50890;
    font-size: 40px;
    text-shadow: 0px -1px 5px #f5f408;
}

.content {
    background-color: #fad7a0;
    margin: 20px;
    padding: 30px;
    border-style: double;
    border-width: 5px;
    font-size: 18px;
    text-align: left;
    width: 1200px;
    display: inline-block;
}

.key {
    position: absolute;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 12px;
    border: 1px solid rgba(32, 32, 32, 0.2);
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
    -webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
}
.key:hover {
    background-color: #71db90;
}

.key .label {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    right: 0px;
}

.keyLabel {
    font-weight: 900;
    text-shadow: 0px -1px 5px #ebf508;
    font-size: 15px;
}

.black {
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    z-index: 1;
    text-shadow: 0px -1px 1px #ff0000;
}

.white {
    background-color: #f2f2de;
    color: #3008f5;
    z-index: 0;
    text-shadow: 0px 1px 1px #08e8f5;
}

.keyboard-holder {
    margin: 30px auto;
    height: 200px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}
