/* Normalizace */
* {
    box-sizing: border-box;
}
html,
body {
    min-height: 100vh;
}

/* Základni vzhled */
body {
    margin: 0;
    background-color: green;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: wheat;
    text-transform: uppercase;
    font-size: 1.7em;
    text-shadow: 1px 1px 4px black;
}

/* Zarovnani klaves vodorovne + odstraneni mezer mezi klavesami */
.piano-moll,
.piano-dur {
    display: flex;
}

/* Zarovnani textu */
.piano-key {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2em;

    border-right: 1px solid gray;
}
.piano-key:hover {
    cursor: pointer;
}

/* Vzhled klaves */
.piano-dur .piano-key {
    width: 3em;
    height: 15em;

    background: white;
}

.piano-moll {
    position: absolute;
}
.piano-moll .piano-key {
    color: white;
    width: 2.5em;
    height: 10em;
    margin-left: .5em;

    background: black;
}
.piano-moll .piano-key:nth-child(1) {
    margin-left: 1.75em;
}
.piano-moll .piano-key:nth-child(3) {
    margin-left: 3.5em;
}





/* Pokrocily vzhled */
.piano {
    background: #333;
    box-shadow: 
        0 3px 0px #555, 
        0 6px 6px #000, 
        inset 0 -1px 1px rgb(255 255 255 / 50%), 
        inset 0 -4px 5px #000
    ;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 0 5px 15px;
    margin: auto;
}

.piano-moll .piano-key {
    background: linear-gradient(-20deg,#333,#000,#333);
    z-index: 1;
    border-width: 1px 2px 7px;
    border-style: solid;
    border-color: #666 #222 #111 #555;
    box-shadow: 
        inset 0px -1px 2px rgb(255 255 255 / 40%), 
        0 2px 3px rgb(0 0 0 / 40%)
    ;
    border-radius: 0 0 2px 2px;
}
.piano-moll .piano-key.active {
    border-bottom-width: 2px;
    box-shadow: inset 0px -1px 1px rgb(255 255 255 / 40%);
    border-top: 4px solid #aaa;
}

.piano-dur .piano-key {
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
}
.piano-dur .piano-key.active {
    position: relative;
    height: 193px;
    border-top: 2px solid #aaa;
}
.piano-dur .piano-key.active::before {
    content: "";
    width: 0px;
    height: 0px;
    border-width: 191px 5px 0px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0,0,0,0.1);
    position: absolute;
    left: 0px;
    top: 0px;
}
.piano-dur .piano-key.active::after {
    content: "";
    width: 0px;
    height: 0px;
    border-width: 191px 5px 0px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.1) transparent transparent;
    position: absolute;
    right: 0px;
    top: 0px;
}



/* Zalomeni klaviru - nedokonceno */
/* .piano-moll,
.piano-dur {
    flex-wrap: wrap;
}
.piano-moll {
    gap: 65px 0;
} */

/* Efekt zatreseni */
/*.shakeX {
    animation: shakeX 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shakeX {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}*/
